body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}
